@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wendy+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ebcaa1;
  color: rgba(155, 42, 35, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: flex;
  height: 80px;
  background: rgba(155, 42, 35, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(155, 42, 35, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px;
  gap: 26px;
  background: rgba(155, 42, 35, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: rgba(255, 248, 240, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 64px;
  height: 44px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    width: 64px;
    height: 44px;

    margin-right: 400px;
  }
  .header {
    width: 100%;

    height: 80px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1400px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 45px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }

  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 121px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero\ Section\ \(1\).png");
  margin: auto;
}

.home-title {
  font-family: Wendy One;
  font-size: 46px;
  font-weight: 400;
  line-height: 59.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  -webkit-text-stroke: 3px rgba(155, 42, 35, 1);
  color: rgba(255, 248, 240, 1);
}
.home-text {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
  padding: 16px 0 369px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.home__google-button_link {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;

    display: flex;
    align-items: start;
    justify-content: start;
    padding: 150px 0px 0px 160px;
    background-image: url("/image/home/Hero.png");
  }
  .home-title {
    font-family: Wendy One;
    font-size: 92px;
    font-weight: 400;
    line-height: 119.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    -webkit-text-stroke: 6px rgba(155, 42, 35, 1);
    width: 742px;
  }
  .home-text {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 33.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 640px;

    padding: 24px 0 64px;
  }
  .home__google-button_link {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0;
  }
}
.about {
  padding: 80px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Wendy One;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(155, 42, 35, 1);
}

.about-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 40px 0;
}

.about-img {
  width: 343px;
  height: 417px;
  overflow: hidden;
  position: relative;
  border-radius: 32px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 160px;
    margin: auto;
    width: 1440px;
  }
  .about-container {
    display: flex;
    gap: 98px;
  }
  .about-title {
    font-family: Wendy One;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    width: 543px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 60px 0 0;
  }
  .about-img {
    width: 479px;
    height: 417px;
  }
}

.how {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}

.how-list {
  width: 343px;
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.how-item {
  width: 343px;
  height: 316px;
}
.how-img {
  margin: auto;
}
.how-text-bold {
  padding: 24px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.how-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;

    margin: auto;
    padding: 120px 160px;
  }

  .how-list {
    width: auto;
    padding-top: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 32px;
    row-gap: 60px;
  }

  .how-item {
    width: 352px;
    height: 316px;
  }

  .how-text-bold {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .how-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}

.gallery__list {
  margin-top: 40px;
  padding-bottom: 30px;
}
.gallery__item {
  width: 313px;
  height: 558px;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before {
  display: none;
}
.slick-next:before {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 120px 160px;
  }

  .gallery__list {
    width: 928px;
    margin: auto;
    margin-top: 60px;
  }
  .gallery__item {
    margin: 0 4px;
    width: 226px;
    height: 403px;
    border-radius: 32px;
  }

  .slick-prev:before {
    display: flex;
    width: 64px;
    height: 64px;
    margin-left: -44px;
    content: url("/image/gallery/Arrow.png");
  }
  .slick-next:before {
    display: flex;
    width: 64px;
    height: 64px;
    content: url("/image/gallery/Arrow\ \(1\).png");
  }
}
.benefits {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.benefits-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: disc;
  padding-left: 16px;
}

.benefits-item-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.benefits-item-text-bold {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.benefits-img {
  width: 343px;
  height: 430px;
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  border-radius: 32px;
}
.benefits-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1200px) {
  .benefits {
    width: 1440px;
    margin: auto;
    padding: 120px 160px;
  }
  .benefits-container {
    display: flex;
    padding-top: 32px;
    gap: 96px;
    align-items: center;
  }
  .benefits-list {
    width: 544px;

    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    list-style-type: disc;
    padding-left: 16px;
  }

  .benefits-item-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .benefits-item-text-bold {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .benefits-img {
    margin-top: 0px;
    width: 480px;
    height: 601px;
    border-radius: 32px;
  }
}

.footer {
  background: rgba(155, 42, 35, 1);

  color: rgba(255, 248, 240, 1);
  padding: 102px 57px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 64px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: start;

  gap: 10px;
}
.footer-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: rgba(255, 248, 240, 1);
}

.footer-copyright {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 80px 72px 16px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 80px;
  }

  .footer-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 160px 16px 80px;
}
.policy-terms-title {
  font-family: Wendy One;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: rgba(155, 42, 35, 1);
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    width: 1440px;
    margin: auto;
    padding: 200px 160px 120px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Wendy One;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 33.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
